<a href="https://colab.research.google.com/github/Susreesha/DataAnalysis/blob/main/Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel('/content/Hospital Data.xlsx')

In [ ]:
df.head(13)

,months,Beds_Available,No of Inpatients,Inpatient Days,No of Deaths,No of Deaths within 48 hrs,Days_in_Month
0,Jan'22,415.0,1320,7597,32,12,31
1,Feb'22,NaN,1276,7215,24,9,28
2,Mar'22,NaN,1415,7547,22,13,31
3,Apr'22,NaN,1241,7099,31,14,30
4,May'22,NaN,1378,7351,36,11,31
5,Jun'22,NaN,1463,7950,18,6,30
6,Jul'22,NaN,1497,8268,19,4,31
7,Aug'22,NaN,1746,9037,20,3,31
8,Sep'22,620.0,2036,8872,27,9,30
9,Oct'22,NaN,2023,9258,29,5,31
10,Nov'22,NaN,2161,10540,31,11,30
11,Dec'22,NaN,2263,10891,29,6,31

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_excel('/content/Hospital Data.xlsx')

# Inspect the column names to confirm structure
print(df.columns)

# Rename columns to match the dataset structure (adjust as necessary)
df.columns = [ 'Month', 'Beds_Available', 'No_of_Inpatients',
              'Inpatient_Days', 'No_of_Deaths', 'Deaths_within_48hrs']

# Define the number of days in each month
days_in_month = {
    "Jan'22": 31, "Feb'22": 28, "Mar'22": 31, "Apr'22": 30,
    "May'22": 31, "Jun'22": 30, "Jul'22": 31, "Aug'22": 31,
    "Sep'22": 30, "Oct'22": 31, "Nov'22": 30, "Dec'22": 31
}

# Map the number of days to the dataset
df['Days_in_Month'] = df['Month'].map(days_in_month)

# Remove rows with missing data in critical columns
df = df.dropna(subset=['Beds_Available', 'Inpatient_Days'])

# Calculate the Bed Occupancy Rate (BOR)
df['Bed_Occupancy_Rate (%)'] = (
    df['Inpatient_Days'] / (df['Beds_Available'] * df['Days_in_Month'])
) * 100

# Extract and display only the required columns
bor_data = df[['Month', 'Bed_Occupancy_Rate (%)']]
print(bor_data)

Index(['months', 'Beds_Available ', 'No of Inpatients ', 'Inpatient Days ',
       'No of Deaths ', 'No of Deaths within 48 hrs '],
      dtype='object')
    Month  Bed_Occupancy_Rate (%)
0  Jan'22               59.051691
8  Sep'22               47.698925

In [ ]:
# Ensure no critical data is missing for calculation
df = df.dropna(subset=['No_of_Inpatients', 'Inpatient_Days'])

# Calculate Average Length of Stay (ALOS)
df['Average_Length_of_Stay (ALOS)'] = df['Inpatient_Days'] / df['No_of_Inpatients']

# Extract and display the required columns
data = df[['Month', 'Average_Length_of_Stay (ALOS)']]
print(data)

    Month  Average_Length_of_Stay (ALOS)
0  Jan'22                       5.755303
8  Sep'22                       4.357564

In [ ]:
# Ensure no critical data is missing for calculation
df = df.dropna(subset=['No_of_Deaths', 'No_of_Inpatients'])

# Calculate Gross Death Rate (GDR)
df['Gross_Death_Rate (%)'] = (df['No_of_Deaths'] / df['No_of_Inpatients']) * 100

# Extract and display the required columns
data = df[['Month', 'Gross_Death_Rate (%)']]
print(data)

    Month  Gross_Death_Rate (%)
0  Jan'22              2.424242
8  Sep'22              1.326130