<a href="https://colab.research.google.com/github/Susreesha/DataAnalysis/blob/main/Python_UI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is Python UI

In [ ]:
var1 = input("Hi please give the input")

Hi please give the input32

In [ ]:
# Input Data
variable_name = input("Enter your input:")

Enter your input:23

In [ ]:
variable_name

'23'

In [ ]:
print("The value is:", variable_name, ".")

The value is: 23 .

In [ ]:
 #Python has an Indentation feature
  print(var1)

IndentationError: unexpected indent (<ipython-input-42-fc3ab4db3d42>, line 2)

Variables

In [ ]:
delivery = "zomato" # start with alphabet
DELIVERY = "swiggy" # differentiate upper case and lower case words(case sensitive)
_cost = 203.9       # can start with underscore

In [ ]:
23_holiday          # don't start with numbers

SyntaxError: invalid decimal literal (<ipython-input-45-464324e40b9e>, line 1)

In [ ]:
type(_cost) #dynamically typed

float

In [ ]:
int(99.9999) #casted into various data types

99

Data Types
Numerical:
1. Integer
2. Float

In [ ]:
x = 23
y = 32

#x = 23.14
#y = 31.99

z = x + y

#Basic operations
print("Addition of x and y is:", z)
print("Addition of x and y is:", (x + y))
print("Subtraction of x and y is:", (x - y))
print("Multiplication of x and y is:", (x * y))
print("Division of x and y is:", (x / y))
print("Floor Division of x and y is:", (x // y))
print("Modulus of x and y is:", (x % y))
print("Exponent of x and y is:", (x ** y))

Addition of x and y is: 55
Addition of x and y is: 55
Subtraction of x and y is: -9
Multiplication of x and y is: 736
Division of x and y is: 0.71875
Floor Division of x and y is: 0
Modulus of x and y is: 23
Exponent of x and y is: 37608910510519071039902074217516707306379521

Boolean
1. TRUE
2. FALSE

In [ ]:
x = 1
y = 2
w,z = 1,2

a = True
b = False

#Basic Operations
print("x==y:", x==y)
print("x!=y:", x!=y)
print("x>y:", x>y)
print("x<y:", x<y)
print("x>=y:", x>=y)
print("x<=y:", x<=y)
print("y==z:", y==z)
print("y!=z:", y!=z)
print("y>z:", y>z)
print("y<z:", y<z)
print("y>=z:", y>=z)
print("y<=z:", y<=z)
print("w==z:", w==z)
print("w!=z:", w!=z)
print("w>z:", w>z)
print("w<z:", w<z)
print("w>=z:", w>=z)
print("w<=z:", w<=z)

print("a==b:", a==b)
print("a!=b:", a!=b)

print("a and b:", a and b)
print("a or b:", a or b)
print("not a:", not a)
print("not b:", not b)

x==y: False
x!=y: True
x>y: False
x<y: True
x>=y: False
x<=y: True
y==z: True
y!=z: False
y>z: False
y<z: False
y>=z: True
y<=z: True
w==z: False
w!=z: True
w>z: False
w<z: True
w>=z: False
w<=z: True
a==b: False
a!=b: True
a and b: False
a or b: True
not a: False
not b: True

**String**:
   **Used to represent a sequence of characters**

In [ ]:
s1 = "Hello This is Python UI"

#Basic Operations

print("Intial String :", s1)
print("First 3 Characters String:", s1[:3])
print("Last 5 Characters String:", s1[-5:])
print("Substring chars string:", s1[10:15])
print("upper case:", s1.upper())
print("lower case:", s1.lower())
print("Replace substring:", s1.replace(' ', '/'))
print("length:", len(s1))
print("split:", s1.split())
print("Contains Substring Hello:",("Hello" in s1))
print("Concat substring User:", (s1 + " " +"User"))

Intial String : Hello This is Python UI
First 3 Characters String: Hel
Last 5 Characters String: on UI
Substring chars string:  is P
upper case: HELLO THIS IS PYTHON UI
lower case: hello this is python ui
Replace substring: Hello/This/is/Python/UI
length: 23
split: ['Hello', 'This', 'is', 'Python', 'UI']
Contains Substring Hello: True
Concat substring User: Hello This is Python UI User

**MULTIPLE ELEMENTS IN A VARIABLE**

In [ ]:
l1 = [100,200,250,300,350]

In [ ]:
l1

[100, 200, 250, 300, 350]

In [ ]:
#Syntax
#List [] or li = []
l1 = [100,200,250,300,350]
print("Intial list:",l1)

#Length
len1 = len(l1)
print("Length of Intial list:",len1)

#Access
print("1st element of list:", l1[0])
print("from 2nd to 4th elements of list:", l1[1:4])
print("Last element of list:", l1[-1])

#Adding elements
#1.Append elements
l1.append(10)
print("Append 10 to the list:",l1)

#2.Insert elements
l1.insert(1,150)
print("Insert 150 to the list", l1)

#3.Concatenation elements
l1 = l1 + [115,125]
print("Concatenate 2 lists:", l1)

#Removing elements
l1.remove(250)
print("Removed 250 from the list:", l1)

#sort elements
l1.sort()
print("Sorted list:", l1)

#reverse elements
l1.reverse()
print("Reversed list:", l1)

#contains element
print("Contains 100:", 100 in l1)

Intial list: [100, 200, 250, 300, 350]
Length of Intial list: 5
1st element of list: 100
from 2nd to 4th elements of list: [200, 250, 300]
Last element of list: 350
Append 10 to the list: [100, 200, 250, 300, 350, 10]
Insert 150 to the list [100, 150, 200, 250, 300, 350, 10]
Concatenate 2 lists: [100, 150, 200, 250, 300, 350, 10, 115, 125]
Removed 250 from the list: [100, 150, 200, 300, 350, 10, 115, 125]
Sorted list: [10, 100, 115, 125, 150, 200, 300, 350]
Reversed list: [350, 300, 200, 150, 125, 115, 100, 10]
Contains 100: True

**SET** : **This is used to store UNORDERED group of Unique elements**

In [ ]:
#syntax
# set1 = {} or set1 = {[]} or set(list)
set1 = {"Patient 1","Patient 2","Patient 3", "Patient 4"}
print("Initial Set: ",set1)

print("Length of Initial set:",len(set1))

# Unique elements in a list
list1 = ["Patient 1","Patient 2","Patient 3",
         "Patient 2","Patient 3","Patient 1",
         "Patient 2"]
set2 = set(list1)
print("Unique elements of list:",set2)

# Substract 2 sets

set3 = set1 - set2
print("Difference between 2 sets:",set3)

set4 = set2 - set1
print("Difference between 2 sets:",set4)

Initial Set:  {'Patient 3', 'Patient 1', 'Patient 4', 'Patient 2'}
Length of Initial set: 4
Unique elements of list: {'Patient 3', 'Patient 1', 'Patient 2'}
Difference between 2 sets: {'Patient 4'}
Difference between 2 sets: set()

**DICTIONARY: This is used to create key value pairs where each key is unique**

In [ ]:
#Syntax
#dict = {":", ":"}

dict_age = {"Patient 1":20,
            "Patient 2":25,
            "Patient 3":30}
print(dict_age)

#Access keys
print("Keys are:", dict_age.keys())

#Access values
print("values are:", dict_age.values())

#Access items
print("items are:", dict_age.items())

#Access value based on key
print("value of key Patient 1:", dict_age.get("Patient 1"))

#Access value based on key
print("value of key Patient 1:", dict_age["Patient 1"])

{'Patient 1': 20, 'Patient 2': 25, 'Patient 3': 30}
Keys are: dict_keys(['Patient 1', 'Patient 2', 'Patient 3'])
values are: dict_values([20, 25, 30])
items are: dict_items([('Patient 1', 20), ('Patient 2', 25), ('Patient 3', 30)])
value of key Patient 1: 20
value of key Patient 1: 20

**Tuples : This is used to store ordered set of immutable elements**

In [ ]:
#Example Tuple representing patient information
patient1 = ("Patient 1",30, "Male")
patient2 = ("Patient 2",35, "Female")

#Access
print("Age of Patient 1:", patient1[1])
print("Gender of Patient 2:", patient2[2])

#Unpacking
p1_name,p1_age,p1_gender = patient1
print("Name of Patient 1:", p1_name)
print("Age of Patient 1:", p1_age)
print("Gender of Patient 1:", p1_gender)

Age of Patient 1: 30
Gender of Patient 2: Female
Name of Patient 1: Patient 1
Age of Patient 1: 30
Gender of Patient 1: Male

**CONDITIONAL** **STATEMENTS**

In [ ]:
#Example of if,elif and else
#Syntax
#if condition:
#  Block of code
#elif condition:
#  Block of code
#else condition:
#  Block of code

var_age = 32
if var_age>34 :
  print("Greater than 34")
elif var_age<34:
  print("Less than 34")
else:
  print("Equal to 34")

Less than 34

In [ ]:
#Check the number is even or odd

var_number = 23
if var_number%2 == 0 :
  print("Even")
else:
  print("Odd")

Odd

**NOT** **Operator**

In [ ]:
var_age = 14
if not var_age <= 19:
  print("Greater than 19")
else:
  print("Lesser than 19")

Lesser than 19

In [ ]:
#Multiple Conditions

var = 23
if var >= 10 and var <= 30:
  print("Greater than 10 and Lesser than 30")

Greater than 10 and Lesser than 30

In [ ]:
# Nested if Conditions

var_patients = 32
var_hospitals = 14
if var_patients >= 32:
  if var_hospitals <= 14:
    print("Patients are Greater than 32 and Hospitals are Lesser than 14")
  else:
      print("Patients are Greater than 32 and Hospitals are Lesser than 14")

Patients are Greater than 32 and Hospitals are Lesser than 14

**LOOPS**
* **for** **loop**
* **while** **loop**

In [ ]:
#For Loop Example

# Syntax
# for i in seq:
   #Block of Code

# while condition:
   #Block of Code

var_patient = ["Sahara","Shreshta","Arjun","Shakthi"]
var_age = [20,27,25,24]
for i in var_patient:
  print("Welcome to the Hospital",i)

# For loop with if condition

count = 0
for i in var_age:
  if i >= 25:
    count = count + 1
print("The no. of patients whose age is greater than 25 are:",count)

Welcome to the Hospital Sahara
Welcome to the Hospital Shreshta
Welcome to the Hospital Arjun
Welcome to the Hospital Shakthi
The no. of patients whose age is greater than 25 are: 2

In [ ]:
var_grade = [2,3,1,2,1,3,2,3,1,2]

count_even = 0
count_odd = 0
for i in var_grade:
  if i % 2 == 0:
    count_even = count_even + 1
  else:
    count_odd = count_odd + 1
print("The no. of even numbers are:",count_even)
print("The no. of odd numbers are:",count_odd)

The no. of even numbers are: 4
The no. of odd numbers are: 6

In [ ]:
# while loop

num_medicine = 23
while num_medicine > 0:
  num_medicine = num_medicine - 1
  print("The no. of medicines left are:",num_medicine)

The no. of medicines left are: 22
The no. of medicines left are: 21
The no. of medicines left are: 20
The no. of medicines left are: 19
The no. of medicines left are: 18
The no. of medicines left are: 17
The no. of medicines left are: 16
The no. of medicines left are: 15
The no. of medicines left are: 14
The no. of medicines left are: 13
The no. of medicines left are: 12
The no. of medicines left are: 11
The no. of medicines left are: 10
The no. of medicines left are: 9
The no. of medicines left are: 8
The no. of medicines left are: 7
The no. of medicines left are: 6
The no. of medicines left are: 5
The no. of medicines left are: 4
The no. of medicines left are: 3
The no. of medicines left are: 2
The no. of medicines left are: 1
The no. of medicines left are: 0

In [ ]:
for i in range(2,6,1): #range(a,b,c : a - start, b - stop, c- increment)
  print(i)

2
3
4
5

**STATEMENTS**:  
1.**BREAK STATEMENT**    
2.**CONTINUE STATEMENT**

In [ ]:
#Break Statement Example
name = ["Sahara","Shreshta","Arjun","Shakthi"]
for i in name:
  if i == "Arjun":
    print("Found Arjun")
    break
  else:
    print("Did not find Arjun") #using to stop the process

Did not find Arjun
Did not find Arjun
Found Arjun

In [ ]:
#Continue Statement Example
var_bp = [120,110,130,110,140,125,115]
for i in var_bp:
  if i == 140:
    continue
  else:
    print("High BP Value(mmHg):",i) #using if anything needs to be skip

High BP Value(mmHg): 120
High BP Value(mmHg): 110
High BP Value(mmHg): 130
High BP Value(mmHg): 110
High BP Value(mmHg): 125
High BP Value(mmHg): 115

**ENUMERATE : This is used to iterate over both Index and Value**

In [ ]:
var_bp = [120,110,130,110,140,125,115]
for index,i in enumerate(var_bp):
  print(index, i)

0 120
1 110
2 130
3 110
4 140
5 125
6 115

In [ ]:
var_bp = [120,110,130,110,140,125,115]
for index,i in enumerate(var_bp):
  if i > 120:
    print("Index:",index,"BP Value(mmHg):",i)

Index: 2 BP Value(mmHg): 130
Index: 4 BP Value(mmHg): 140
Index: 5 BP Value(mmHg): 125

**ZIP : This is used to merge multiple lists and iterate in a single**

In [ ]:
var_patient = ["Sahara","Shreshta","Arjun","Shakthi"]
var_age = [20,27,25,24]
var_weight = [30.5,54.5,65.4,43.1,42.1]

for num1, num2, num3 in zip(var_patient,var_age,var_weight):
  print(f"Patient ID: {num1} Age:{num2} Weight:{num3}")

Patient ID: Sahara Age:20 Weight:30.5
Patient ID: Shreshta Age:27 Weight:54.5
Patient ID: Arjun Age:25 Weight:65.4
Patient ID: Shakthi Age:24 Weight:43.1

**DAY 2**

**Functions**

In [ ]:
def fn_add(a,b):
  c = a + b
  return c

var_sum = fn_add(2,3)
print("Addition of 2 numbers is:", var_sum)
fn_add(4,2)

Addition of 2 numbers is: 5

6

In [ ]:
#Subtraction
def fn_sub(a,b):
  c = a - b
  return c

var_sub = fn_sub(20,3)
print("Subtraction of 2 numbers is:", var_sub)

#Multiplication
def fn_mul(a,b):
  c = a * b
  return c

var_mul = fn_mul(21,32)
print("Multiplication of 2 numbers is:", var_mul)

#Division
def fn_div(a,b):
  c = a / b
  return c

var_div = fn_div(24,3)
print("Division of 2 numbers is:", var_div)

fn_sub(20,3)
fn_mul(21,32)
fn_div(24,3)

Subtraction of 2 numbers is: 17
Multiplication of 2 numbers is: 672
Division of 2 numbers is: 8.0

8.0

In [ ]:
# Arithmetic Operations

def fn_arith(a,b,c):
  x = (a*b)/c
  return x

var_arith = fn_arith(4,3,2)
print("The result is:",var_arith)

print(fn_arith(4,3,2))
fn_arith(4,6,1)

The result is: 6.0
6.0

24.0

In [ ]:
def greet(name,age,gender):
  print(f"Hi, welcome to the hospital:{name}")
  print(f"Your age is:{age}")
  print(f"Your gender is:{gender}")

greet("Arjun",25,"Male")
greet("Shakthi",24,"Female")

# Function with return values
def sub(a,b=5):
  c = a - b
  return c

sub_var = sub(2,1)
sub_var_default = sub(2)
print("Subtraction of 2 numbers is:", sub_var)
print("Subtraction of 2 numbers is:", sub_var_default)

Hi, welcome to the hospital:Arjun
Your age is:25
Your gender is:Male
Hi, welcome to the hospital:Shakthi
Your age is:24
Your gender is:Female
Subtraction of 2 numbers is: 1
Subtraction of 2 numbers is: -3

In [ ]:
# Arithmetic Operations
# With Default Value

def fn_arith(a, c, b = 14):
  x = (a*b)/c
  return x

var_arith = fn_arith(4,3,2)
var_arith_default = fn_arith(4,2)

print("The result is:",var_arith)
print("The result is:",var_arith_default )

The result is: 2.6666666666666665
The result is: 28.0

In [ ]:
#Function with if condition

def classify_salary(salary):
  if salary < 15000:
    return "Receptionist"
  elif salary > 15000 and salary < 35000:
    return "Nurse"
  else:
    return "Doctor"

salary = 10000
var_person1 = classify_salary(salary)
print(f"The person with Salary {salary} is: {var_person1}")

classify_salary(37600)

The person with Salary 10000 is: Receptionist

'Doctor'

In [ ]:
def add_three(list_age):
  list_age_three = []
  for i in list_age:
    list_age_three.append(i+3)
  return list_age_three

list_sample = [1,2,3,4,5]
list_sample = add_three(list_sample)
print(list_sample)

[4, 5, 6, 7, 8]

In [ ]:
#Append only if it is an even number

def add_three(list_age):
  list_age_three = []
  for i in list_age:
    if i%2 == 0:
      list_age_three.append(i+3)
  return list_age_three

list_sample = [1,2,3,4,5]
list_sample = add_three(list_sample)
print(list_sample)

[5, 7]

In [ ]:
# Defining both even and odd & printing as a whole
def add(list_age):
  list_even = []
  list_odd = []
  for i in list_age:
    if i%2 != 0:
      list_odd.append(i+2)
    else:
      list_even.append(i)
  return list_odd, list_even

list_sample = [1,2,3,4,5]                           #input
list_sample_odd,list_sample_even = add(list_sample) #output
print(list_sample_odd)
print(list_sample_even)

[3, 5, 7]
[2, 4]

In [ ]:

def fn_lifestyle(diet,exercise):
  if diet >= 3 and exercise >= 150:
    return "Good"
  elif diet < 3 and exercise < 150:
    return "Average"
  else:
    return "Poor"


var_diet = int(input("No. of meals per day"))
var_exercise = int(input("No. of minutes of exercise per week"))

var_lifestyle = fn_lifestyle(var_diet,var_exercise)

print(f"Your Lifestyle is: {var_lifestyle}")

No. of meals per day3
No. of minutes of exercise per week150
Your Lifestyle is: Good

**CLASS AND OBJECTS**

In [ ]:
#Defining a Class
class Hospital:
  def __init__(self,name,location,consultant_fee):
    self.name = name                      #Atrribute
    self.location = location              #Atrribute
    self.consultant_fee = consultant_fee  #Atrribute

  def start(self):                        #Method
    print(f"The {self.name} hospital is located at {self.location} and it has a consultant fee of {self.consultant_fee}")


#Creating an Object
hospital1 = Hospital("Narayana", "JP Nagar", "300/-")
hospital2 = Hospital("Yashoda", "Jaya Nagar", "350/-")
hospital3 = Hospital("Sunrise", "Electronic City", "200/-")

#Accessing Attributes and Methods
print(hospital1.name)
hospital1.start()

print(hospital2.location)
hospital2.start()

print(hospital3.consultant_fee)
hospital3.start()

Narayana
The Narayana hospital is located at JP Nagar and it has a consultant fee of 300/-
Jaya Nagar
The Yashoda hospital is located at Jaya Nagar and it has a consultant fee of 350/-
200/-
The Sunrise hospital is located at Electronic City and it has a consultant fee of 200/-

In [ ]:
class calculator:
  def __init__(self, brand, cost, color):
    self.brand = brand
    self.cost = cost
    self.color = color

  def start(self):
    print(f"The {self.brand} calculator costs {self.cost} and the color is {self.color} and do the functions like add,sub,mul,divide")

  def add(self,a,b):
      return a+b

  def sub(self,a,b):
      return a-b

  def mul(self,a,b):
      return a*b

  def div(self,a,b):
      return a/b



calculator1 = calculator("casio",1040,"black")
calculator2 = calculator("canon",1400,"white")
a = 3
b = 5

addition_result = calculator1.add(a,b)
subtraction_result = calculator2.sub(a,b)
multiplication_result = calculator2.mul(a,b)
division_result = calculator1.div(a,b)

print("Addition:", addition_result)
print("Subtraction:", subtraction_result)
print("Multiplication:", multiplication_result)

print(calculator1.brand)
calculator1.start()
print(calculator2.cost)
calculator2.start()

Addition: 8
Subtraction: -2
Multiplication: 15
casio
The casio calculator costs 1040 and the color is black and do the functions like add,sub,mul,divide
1400
The canon calculator costs 1400 and the color is white and do the functions like add,sub,mul,divide

**NUMPY**

In [ ]:
import numpy as np
list1 = [1,2,3,4,5]
np_var = np.array(list1)
np_var[-1]

5

In [ ]:
np_var[np_var > 3]

array([4, 5])

In [ ]:
# np_arr = np.array([])

np_arr = np.array([1,2,3,4,5])
print("The numpy array is:",np_arr) #array
print("The length of the array is:", len(np_arr)) #length
print("The second element of the array is:",(np_arr[1])) #access
print("The resultant of 5 added to the numpy array is:",(np_arr + 5)) #append/add
print("The addition of all elements in the numpy array is:",np.sum(np_arr)) #sum of all elements of array
print("The minimum of all elements in the numpy array is:",np.min(np_arr)) #least no. of array
print("The maximum of all elements in the numpy array is:",np.max(np_arr)) #greater no. of array
print(f"The mean of all elements in the numpy array is:{np.mean(np_arr)} and standard deviation is:{np.std(np_arr)}") #mean & standard deviation
print("Shape of the array is:", np_arr.shape) #shape

# Filter
np_arr1 = np_arr[(np_arr > 1) & (np_arr < 4)]
print("Array elements greater than 1 and less than 4 are:",np_arr1)

#Sort

np_asc = np.sort(np_arr)
np_desc = np.sort(np_arr)[::-1]
print("The sorted array in ascending order is:",np_asc)
print("The sorted array in descending order is:",np_desc)

The numpy array is: [1 2 3 4 5]
The length of the array is: 5
The second element of the array is: 2
The resultant of 5 added to the numpy array is: [ 6  7  8  9 10]
The addition of all elements in the numpy array is: 15
The minimum of all elements in the numpy array is: 1
The maximum of all elements in the numpy array is: 5
The mean of all elements in the numpy array is:3.0 and standard deviation is:1.4142135623730951
Shape of the array is: (5,)
Array elements greater than 1 and less than 4 are: [2 3]
The sorted array in ascending order is: [1 2 3 4 5]
The sorted array in descending order is: [5 4 3 2 1]

In [ ]:
#Elementwise Operation

np_arr1 = np.array([1,2,3,4,5])
np_arr2 = np.array([6,7,8,9,10])
print("The addition of 2 arrays is:",np.add(np_arr1,np_arr2))
print("The subtraction of 2 arrays is:",np.subtract(np_arr1,np_arr2))
print("The multiplication of 2 arrays is:",np.multiply(np_arr2,np_arr1))
print("The division of 2 arrays is:",np.divide(np_arr2,np_arr1))

The addition of 2 arrays is: [ 7  9 11 13 15]
The subtraction of 2 arrays is: [-5 -5 -5 -5 -5]
The multiplication of 2 arrays is: [ 6 14 24 36 50]
The division of 2 arrays is: [6.         3.5        2.66666667 2.25       2.        ]

MultiDimensional Array

In [ ]:
np_arr_2D = np.array([[1,2,3,4,5],[6,7,8,9,10]])

print("The Initial array is:",np_arr_2D) #Initial Array
print("The Shape of the array is:",np_arr_2D.shape) #Shape
print("The no. of rows in an array is:",np_arr_2D.shape[0]) #No. of Rows in the Array
print("The no. of columns in an array is:",np_arr_2D.shape[1]) #No. of Columns in the Array
print("First row of the array is:", np_arr_2D[0,:]) #First Row of the Array
print("First Column of the array is:", np_arr_2D[:,0]) #First Column of the Array
print("First Column first row element of the array:", np_arr_2D[0,0]) #First Column first row element of the Array
print("1D reshaped array is:", np_arr_2D.reshape(-1)) #1D Reshape
print("Transpose of the array is:", np_arr_2D.T) #Transpose

#Matric Multiplication
np_arr1 = np.array([[1,2,3],[4,5,6]])
np_arr2 = np.array([[7,8],[9,10]])
result = np.dot(np_arr1,np_arr2)
print("The result of matrix multiplication is:",result)
120, 115, 117, 95, 98, 120, 135, 149, 134, 113, 123, 104

The Initial array is: [[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
The Shape of the array is: (2, 5)
The no. of rows in an array is: 2
The no. of columns in an array is: 5
First row of the array is: [1 2 3 4 5]
First Column of the array is: [1 6]
First Column first row element of the array: 1
1D reshaped array is: [ 1  2  3  4  5  6  7  8  9 10]
Transpose of the array is: [[ 1  6]
 [ 2  7]
 [ 3  8]
 [ 4  9]
 [ 5 10]]
The result of matrix multiplication is: [[25 28]
 [73 82]]

Test

In [ ]:
# Count of normal, prediabetic and diabetic
import numpy as np

def fn_diabetic(list):
  count_normal = 0
  count_prediabetic = 0
  count_diabetic = 0
  for i in count_list:
    if i<= 99:
      count_normal += 1
    elif 100<=i<=125: # Corrected the condition to 100 <= i <= 125
      count_prediabetic += 1
    else:
      count_diabetic += 1

  return count_normal, count_prediabetic, count_diabetic # Moved the return statement outside the loop

# Get input as a string
count_list_str = input("Enter monthly fasting blood sugar levels upto 12 months separated by spaces: ")

# Convert the string to a list of numbers, handling commas
count_list = [int(i.replace(',', '')) for i in count_list_str.split()]  # Split the string, remove commas, and convert to integers

normal_count,prediabetic_count,diabetic_count = fn_diabetic(count_list)

print(f"The count are: normal - {normal_count}, prediabetic - {prediabetic_count}, and diabetic - {diabetic_count}")

# Calculate the mean using the numerical list
print(f"The average of all Fasting blood sugar levels are:{np.mean(count_list)}")

Creating a pandas dataframe

In [ ]:
# Syntax
# df = pd.DataFrame(2D_numpy_array)

import numpy as np
import pandas as pd

n1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame(n1)
print(df)

df = pd.DataFrame(n1,columns = ["Col1","Col2","Col3"])
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
   Col1  Col2  Col3
0     1     2     3
1     4     5     6
2     7     8     9